absl-py==0.12.0
antlr4-python3-runtime==4.8
astunparse==1.6.3
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
chex==0.0.7
cycler==0.10.0
dm-tree==0.1.6
flatbuffers==1.12
flax==0.3.4
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
hydra-core==1.1.0rc1
idna==2.10
importlib-resources==5.1.4
jax==0.2.13
jax-resnet==0.0.3
jax-utils @ git+https://github.com/n2cholas/jax-utils.git@a745f10d4939666484275da9aaa586e99be9b5d5
jaxlib==0.1.67
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
matplotlib==3.4.2
msgpack==1.0.2
numpy==1.19.5
oauthlib==3.1.0
omegaconf==2.1.0rc1
opt-einsum==3.3.0
optax @ git+https://github.com/deepmind/optax.git@dc35f0bba829973d969cc3515c50941b6700bb8f
Pillow==8.2.0
protobuf==3.17.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.6.3
shapecheck==0.0.2
six==1.15.0
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
toolz==0.11.1
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
