chex
flax
hydra-core>=1.1.0.dev1
jax
jax-utils @ git+https://github.com/n2cholas/jax-utils.git@cbbbadeb1f9e4bc8d817bec81f8be4be3494cdec
jaxlib
numpy
optax @ git+https://github.com/deepmind/optax.git
shapecheck
tensorflow-cpu
